[kubeconfig-fetch-node]
fsn1-dev-assfire-master-1

[fsn1-dev-assfire-masters]
%{for index, server in fsn1-dev-assfire-masters ~}
${server.name} ansible_host=${server.ipv4_address}
%{endfor ~}

[fsn1-dev-assfire-workers]
%{for index, server in fsn1-dev-assfire-workers ~}
${server.name} ansible_host=${server.ipv4_address}
%{endfor ~}

[hel1-dev-assfire-masters]
%{for index, server in hel1-dev-assfire-masters ~}
${server.name} ansible_host=${server.ipv4_address}
%{endfor ~}

[hel1-dev-assfire-workers]
%{for index, server in hel1-dev-assfire-workers ~}
${server.name} ansible_host=${server.ipv4_address}
%{endfor ~}

[nbg1-dev-assfire-masters]
%{for index, server in nbg1-dev-assfire-masters ~}
${server.name} ansible_host=${server.ipv4_address}
%{endfor ~}

[nbg1-dev-assfire-workers]
%{for index, server in nbg1-dev-assfire-workers ~}
${server.name} ansible_host=${server.ipv4_address}
%{endfor ~}

[kube-master:children]
fsn1-dev-assfire-masters
hel1-dev-assfire-masters
nbg1-dev-assfire-masters

[kube-node:children]
fsn1-dev-assfire-workers
hel1-dev-assfire-workers
nbg1-dev-assfire-workers

[fsn1:children]
fsn1-dev-assfire-masters
fsn1-dev-assfire-workers

[hel1:children]
hel1-dev-assfire-masters
hel1-dev-assfire-workers

[nbg1:children]
nbg1-dev-assfire-masters
nbg1-dev-assfire-workers

[etcd:children]
kube-master

[calico-rr]

[k8s-cluster:children]
kube-master
kube-node
calico-rr

[k8s-cluster:vars]
cluster-name=cluster.assfire.org
ingress_nginx_enabled=True
local_volume_provisioner_enabled=True
local_volume_provisioner_storage_classes={'file-storage':{'mount_dir':'/mnt/file','host_dir':'/mnt/file','fs_type':'ext4'},'ssd-storage':{'mount_dir':'/mnt/ssd','host_dir':'/mnt/ssd','fs_type':'ext4'}}

[all:vars]
docker_dns_servers_strict=False

[ingress]
%{for index, server in floating_ips ~}
${floating_ips[index].name} floating_ip=${floating_ips[index].ip_address}
%{endfor ~}

[redis_masters]
fsn1-dev-assfire-worker-1

[redis_slaves]
fsn1-dev-assfire-worker-2

[redis_nodes:children]
redis_masters
redis_slaves

[prometheus_nodes]
fsn1-dev-assfire-worker-1

[grafana_nodes]
fsn1-dev-assfire-worker-1

[assfire_calculation_nodes:children]
fsn1-dev-assfire-workers
hel1-dev-assfire-workers
nbg1-dev-assfire-workers

[storage_nodes:children]
redis_nodes
prometheus_nodes